/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.idea/
.clj-kondo/
.lsp/
spicy-github.iml
projectFilesBackup*
/resources/token.edn
.lein-env
resources/public/javascript/front_end.js
/logs/