{:lein true
 :builds {:app {:output-dir "resources/public/js"
                :asset-path "/js"
                :target     :browser
                :modules    {:main {:entries [front-end.frontend]}}}}}
