{:thumbsdown        5
 :thumbsup          3
 :angry             5
 :pray              3
 :poop              5
 :police_car        5
 :police_officer    5
 :policeman         5
 :policewoman       5
 :trumpet           3
 :heart_on_fire     4
 :man_firefighter   5
 :woman_firefighter 5
 :fire              3
 :fire_engine       4
 :fire_extinguisher 5
 :firecracker       4
 :firefighter       5
 :fireworks         3
 :fist              5
 :flags             2
 :pirate_flag       5
 :trollface         10}