{:up
 [[:table/create {:table :repository :primary-key :uuid}
   [:column/add
    [:url {:unique true} :string]
    [:processed {:default false} :boolean]
    [:gungnir/timestamps]]]]
 :down
 [[:table/drop :repository]]}