{:up
 [[:table/create {:table :repository}
   [:column/add
    [:id {:primary-key true} :string]
    [:url {:unique true} :string]
    [:processed-at :timestamp]
    [:github-json-payload :string]
    [:gungnir/timestamps]]]]
 :down
 [[:table/drop :repository]]}