{:up
 [[:table/create {:table :github-user}
   [:column/add
    [:id {:primary-key true} :string]
    [:url {:unique true} :string]
    [:avatar-url {:optional true} :string]
    [:gungnir/timestamps]]]]
 :down
 [[:table/drop :github-user]]}