{:up
 [[:table/create {:table :issue :primary-key :uuid}
   [:column/add
    [:url {:unique true} :string]
    [:title :string]
    [:body :string]
    [:total-reactions :int]
    [:issue-creation-date :timestamp]
    [:comment-count :int]
    [:root-comment :uuid]
    [:github-json-payload :string]
    [:gungnir/timestamps]]]]
 :down
 [[:table/drop :issue]]}