{:up
 [[:table/create {:table :spicy-comment}
   [:column/add
    [:id {:primary-key true :references :comment/id} :string]
    [:rating :float]
    [:gungnir/timestamps]]]]
 :down
 [[:table/drop :spicy-comment]]}
