{:up
 ["ALTER TABLE comment DROP CONSTRAINT comment_pkey CASCADE;
   ALTER TABLE comment DROP COLUMN id CASCADE;
   ALTER TABLE comment RENAME COLUMN comment_id TO id;
   ALTER TABLE comment ADD PRIMARY KEY (id);
   ALTER TABLE comment DROP CONSTRAINT comment_comment_id_key CASCADE;
   ALTER TABLE comment DROP COLUMN parent_comment CASCADE;
   ALTER TABLE comment DROP COLUMN issue_id;
   "]
 :down ["
  ALTER TABLE comment DROP CONSTRAINT comment_pkey CASCADE;
  ALTER TABLE comment DROP COLUMN id CASCADE;
  ALTER TABLE comment ADD COLUMN id uuid;
  ALTER TABLE comment ADD PRIMARY KEY (id);
  ALTER TABLE comment ADD COLUMN issue_id uuid;
  ALTER TABLE comment ADD COLUMN comment_id text;
  ALTER TABLE comment ADD COLUMN parent_comment uuid;
  ALTER TABLE comment ADD CONSTRAINT comment_comment_id_key FOREIGN KEY (parent_comment) REFERENCES comment (id);"]
 }