{:up ["
  ALTER TABLE issue DROP CONSTRAINT issue_pkey CASCADE;
  ALTER TABLE issue DROP COLUMN id CASCADE;
  ALTER TABLE issue ADD COLUMN id text;
  ALTER TABLE issue ADD PRIMARY KEY (id);
  "]
 :down ["
  ALTER TABLE issue DROP COLUMN id CASCADE;
  ALTER TABLE issue ADD COLUMN id uuid;
  ALTER TABLE issue ADD PRIMARY KEY (id);
 "]
 }