{:up ["
  ALTER TABLE comment DROP COLUMN user_id CASCADE;
  ALTER TABLE comment ADD COLUMN user_id text;
  ALTER TABLE comment ADD CONSTRAINT fk_comment_user FOREIGN KEY (user_id) REFERENCES github_user (id);
 "]
 :down ["
  ALTER TABLE comment DROP CONSTRAINT fk_comment_user;
  ALTER TABLE comment DROP COLUMN user_id CASCADE;
  ALTER TABLE comment ADD COLUMN user_id uuid;
  "]
 }